/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v20/KFOmCnqEu92Fr1Mu4mxP.ttf) format('truetype');
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100vh;
  width: 100%;
}
html {
  font-size: 62.5%;
  font-family: 'Roboto', sans-serif;
}
.flexContainer {
  display: flex;
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 500px) {
  .flexContainer {
    flex-direction: column;
  }
}
.sidebar {
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid black;
  color: white;
  background-color: #333333;
  align-items: center;
  height: 100%;
}
@media screen and (max-width: 500px) {
  .sidebar {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
  }
}
.sidebarSection {
  margin-bottom: 10%;
  font-size: 1.5rem;
  width: 85%;
}
.sidebarSection:first-child {
  display: flex;
  margin-top: 10%;
  justify-content: flex-start;
}
.sidebarSection:first-child img {
  border: 3px solid grey;
  border-radius: 50%;
  width: 85%;
  background-color: #f0eef0;
}
@media screen and (max-width: 500px) {
  .sidebarSection:first-child {
    margin-top: 2%;
  }
}
.sidebarSection address,
.sidebarSection .reference {
  display: flex;
  flex-direction: column;
}
.sidebarSection address span,
.sidebarSection .reference span {
  padding: 3% 0;
}
.sidebarSection .sidebarTitle {
  font-weight: bold;
  font-size: 2.5rem;
}
@media screen and (max-width: 500px) {
  .sidebarSection {
    margin-top: 3%;
  }
}
.mainContent {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainContent nav {
  display: flex;
  font-size: 2rem;
  justify-content: space-between;
  width: 90%;
  margin: 3% 0;
}
@media screen and (max-width: 500px) {
  .mainContent nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
  }
}
.mainContent nav a {
  color: #09261c;
  text-decoration: none;
}
@media screen and (max-width: 500px) {
  .mainContent nav a {
    width: 100%;
    text-align: center;
    border: 3px solid black;
    background-color: #09261c;
    color: white;
    padding: 1.5% 0;
    margin: 1.5% 0;
  }
}
@media screen and (max-width: 500px) {
  .mainContent {
    width: 100%;
  }
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  margin-bottom: 3%;
}
.profile .bigName {
  font-weight: bold;
  margin-top: 5%;
  font-size: 8rem;
}
.profile .jobTitle {
  margin-top: 2.5%;
  font-size: 4rem;
  font-style: italic;
}
.mainContentSection {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin-bottom: 1%;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
}
@media screen and (max-width: 500px) {
  .mainContentSection {
    margin: 3% 0;
  }
}
.mainContentSection .titleContainer {
  display: flex;
  align-items: center;
  background-color: lightgrey;
  font-size: 2.7rem;
}
.mainContentSection .titleContainer .title {
  padding-left: 3%;
}
.mainContentSection .achievements,
.mainContentSection .schools,
.mainContentSection .quirk {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-size: 1.5rem;
}
.mainContentSection .achievements div,
.mainContentSection .schools div,
.mainContentSection .quirk div {
  padding: 1% 0%;
  display: flex;
  justify-content: space-between;
}
.mainContentSection .achievements div .season,
.mainContentSection .schools div .season,
.mainContentSection .quirk div .season,
.mainContentSection .achievements div .year,
.mainContentSection .schools div .year,
.mainContentSection .quirk div .year,
.mainContentSection .achievements div .qName,
.mainContentSection .schools div .qName,
.mainContentSection .quirk div .qName {
  padding-left: 3%;
  width: 30%;
}
.mainContentSection .achievements div .season span,
.mainContentSection .schools div .season span,
.mainContentSection .quirk div .season span,
.mainContentSection .achievements div .year span,
.mainContentSection .schools div .year span,
.mainContentSection .quirk div .year span,
.mainContentSection .achievements div .qName span,
.mainContentSection .schools div .qName span,
.mainContentSection .quirk div .qName span {
  font-style: italic;
}
.mainContentSection .achievements div .achievement,
.mainContentSection .schools div .achievement,
.mainContentSection .quirk div .achievement,
.mainContentSection .achievements div .school,
.mainContentSection .schools div .school,
.mainContentSection .quirk div .school,
.mainContentSection .achievements div .qDesc,
.mainContentSection .schools div .qDesc,
.mainContentSection .quirk div .qDesc {
  width: 70%;
  text-align: left;
}
